@media (max-width: 1024px){

    .navbar{
        gap:15px;
    }
    .section-principal{
        padding:2px;
    }
    .card{
        margin:20px 20px;
    }
    .section-videoteca{
        margin: 5px;
    }
}