@media (max-width: 375px){
    .box-1{
        display:none;
    }

    footer{
        .grupo1{
            flex-direction: row;
            figure{
                display: none;
                }
                .box{
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .red-social{
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
            }
        }
    }
}