@media (max-width: 1024px){
    .slide{
        // .carousel-indicators{
        //     display: none;
        // }
        img{
            height:45vh;
        }
        .carousel-inner{
            div{
            height: 100%;
            }
        }
    }
    .navbar{
        gap:15px;
    }
    .grid{
        grid-template-columns: repeat(4,200px);
        grid-template-rows: repeat(4,200px);
    }
    .section-principal{
        padding:2px;
    }
    .card{
        margin:20px 20px;
    }
    .section-videoteca{
        margin: 5px;
    }
}