@media (max-width: 425px){
    .slide{
        img{
            height:30vh;
        }
        .carousel-inner{
            div{
            height: 100%;
            }
        }
    }

    .grid{
        grid-template-columns: repeat(2,1fr);
        .grid-planes1{
            grid-column:2/3;
            a{
                h2{
                    font-size: 20px;
                }
            }
        }
        .grid-planes3{
            display: none;
        }
        .grid-videoteca1{
            grid-column:1/2;
        }
        .grid-videoteca2{
            grid-column:2/3;
        }
        .grid-videoteca3{
            display: none;
        }
        .grid-blog1{
            grid-column: 2/3;
        }
        .grid-blog3{
            display: none;
        }
        .grid-nosotros1{
            grid-column:1/2;
        }
        .grid-nosotros2{
            grid-column:2/3;
        }
        .grid-nosotros3{
            display: none;
        }
    }

    .card{
        width: 260px;
        height: 300px;
        img{
            height: 150px;
        }
    }


    .section-principal{
        article{
            width: 300px;
            height: 340px;
            div{
                h3{
                    font-size: 28px;
                }
                p{
                    display: none;
                }
                img{
                    width: 100%;
                    height: 210px;
                }
            }
            button{
                width: 50%;
            }
        }
    }

.section-nosotros{
    background-position: 47% 0%;
}


    .grupo1{
        .box{
            a{
                width: 100px;
                height: 100px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .secundario{
                display: none;
            }
            h2{
                font-size: 15px;
            }
            div{
                a{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100%;
                        text-align: center;
                        padding-top: 0px;
                    }
                }
            }
        }
    }
}