.section-videoteca{
    display:grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 100%;
    justify-items: center;
    margin-top: 15px;
    padding: 15px;
    div{
        width: 100%;
        padding: 10px;
        text-align: center;
        h3{
            color: #A2678A ;
        }
        iframe{
            width: 100%;
        }
    }
}