.section-blog{
    display:grid;
    width: 100%;
    height: 100%;
    justify-content:center;
    row-gap:40px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
    "articulo1 . articulo2 articulo3"
    "articulo4 articulo5 . articulo6"
    "articulo7 . articulo8 .";
    article{
        width: auto;
        height: 400px;
        background-image: linear-gradient(to right top, #a2678a, #966083, #8a5a7b, #7e5374, #734d6c, #6e4d6c, #6a4d6c, #654d6c, #655474, #655b7c, #646283, #646989);
        border-radius: 20px;
        margin: 30px 40px;
        overflow: hidden;
        &:hover{
            transition: transform 1.5s;
            transform:scale(1.1);
        }
        a{
            text-decoration: none;
            color: black;
            text-align: center;
            padding: 5px;
            h3{
                font-size: 25px;
                font-family: $ff-secundaria;
            }
        }
        img{
            width: 100%;
            height: 180px;
            object-fit: cover;
        }
        p{
            font-family: $ff-p;
            font-size: 15px;
            text-align: center;
        }
    }
    .articulo-1{
        grid-area: articulo1;
    }
    .articulo-2{
        grid-area: articulo2;
    }
    .articulo-3{
        grid-area: articulo3;
    }
    .articulo-4{
        grid-area: articulo4;
    }
    .articulo-5{
        grid-area: articulo5;
    }
    .articulo-6{
        grid-area: articulo6;
    }
    .articulo-7{
        grid-area: articulo7;
    }
    .articulo-8{
        grid-area: articulo8;
    } 
}