.section-nosotros{
    background-image: url(../assets/img/Arnold.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    div{
        text-align:center;
        color: white;
        padding: 50px 50px;
        h1{
            margin: 20px;
            color:#a1718e;
            font-weight: 700;
            text-shadow: 1px 1px 2px black;
        }
        p{
            color: rgb(218, 176, 218);
            text-shadow: 1px 1px 2px black;
        }
    }
}

.section-contacto{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    div{
        width: 300px;
        height: 300px;
        background-image: url(../assets/img/nosotros1.jpg);
        background-size: cover;
        border-radius: 50%;
        h3{
            text-align:center;
            padding-top: 200px;
            font-weight: 500;
            color: black;
            text-shadow: 1px 1px 2px white;
            font-family: 'Oswald', sans-serif;
        }
    }
    form{
        fieldset{
            width: 300px;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            legend{
                font-size: 35px;
                margin-bottom: 25px;
                color:#a1718e;
            }
            input{
                background-color: #f1f1f1;
                padding: 17px 20px;
                margin-bottom: 20px;
                border: 0;
                border-radius: 25px;
                color:#404040;
                outline: none;
                font-size: 16px;
            }
        }
    }
}
